{% extends "base.html" %}

{% block title %}Login · JobPulse{% endblock %}

{% block content %}
<section class="nf-profile">
    <div class="nf-card nf-profile-card">
        <h2>Sign In</h2>
        <form method="post" class="nf-form nf-form-vertical">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button class="nf-button nf-button-primary" type="submit">Login</button>
                <a class="nf-button" href="{% url 'accounts:signup' %}">Create account</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}
